/*
-------------------------
Colors
-------------------------
*/
.white{background-color:#FFFFFF;}
.lighten-grey{background-color:#F9FAFB;}
.primary-grey{background-color:#DDDDDD;}
.darken-grey{background-color:#CCCCCC;}
.primary-green{background-color:#31E09A;}
.primary-blue{background-color:#6DC3F5;}
.darken-blue{background-color:#52697A;}
.black{background-color:#333333;}

.text-white{color:#FFFFFF;}
.text-lighten-grey{color:#F9FAFB;}
.text-primary-grey{color:#DDDDDD;}
.text-darken-grey{color:#CCCCCC;}
.text-primary-green{color:#31E09A;}
.text-primary-blue{color:#68C3F2;}
.text-darken-blue{color:#516979;}
.text-black{color:#333333;}

.check_on{background-color:#31E09A;}
.check_off{background-color:#CCCCCC;}


/*
-------------------------
Fonts
-------------------------
*/
.font-60-bold{font-size:60px; font-weight:700;}
.font-22-bold{font-size:22px; font-weight:700;}
.font-18-bold{font-size:18px; font-weight:600;}
.font-16-bold{font-size:16px; font-weight:600;}
.font-16-reg{font-size:16px; font-weight:300;}
.font-14-reg{font-size:14px; font-weight:300;}

.text-center{
	display: block;
	margin: 0 auto;
	text-align: center;
}

p{
	margin: 16px 0;
}



/*
-------------------------
Helper Tags
-------------------------
*/
.is-hidden{
	display: none;
}


/*
-------------------------
General Page Styles
-------------------------
*/

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #F9FAFB;
	font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header{
	background-color:#FFFFFF;
	width: 100%;
	text-align: center;
}
.logo{
	padding: 20px 0;
}

nav{
	background-color:#6DC3F5;
	color: #FFFFFF;
	padding: 12px 0;
}

main{
	width: 85%;
	max-width: 600px;
	margin: 40px auto 0;
}

footer{
	padding: 40px 0;
	font-size: 12px;
}


/*
-------------------------
Advance Amount Styles
-------------------------
*/
.funds-group{
	/*display: block;*/
  margin: 0 auto 40px;
  width: 100%;
  /*min-width: 300px;*/
  background-color: white;
	border: 3px solid #6DC3F5;
  border-radius: 6px;
	box-sizing: border-box;
}
.funds-group .funds-title{
	display: block;
	text-align: center;
	margin-top: 20px;
	overflow: hidden;
}
.funds-group .funds-total{
	display: block;
	text-align: center;
	padding-bottom: 15px;
	margin-top: -10px;
}

/*
-------------------------
CTA Styles
-------------------------
*/
.cta{
	background-color:#6DC3F5;
	padding: 30px;
	border-radius: 4px;
}
.button{
	display: inline-block;
	color:#6DC3F5;
	background-color: #FFFFFF;
	padding: 10px 30px;
	border-radius: 4px;
	font-weight: 700;
	text-decoration: none;
	transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
}
.button:hover{
	box-shadow: 0 0 10px 4px rgba(82,105,122,0.2);
}
.button:active{
	transform: scale(0.94);
}


/*
-------------------------
Account Table
-------------------------
*/
.account-info{
	margin: 0 auto 30px;
	border-collapse: collapse;
}
th{
	text-align: right;
	padding-right: 10px;
}
td{
	text-align: left;
	padding: 10px 0;
}



.empty-screen{
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 40px;
}








